<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>질병 백과</title>
    </head>
    <body class="body">
        <div>
            <nav>
                <a href="http://127.0.0.1:8000/">Home</a>
            </nav>
            <h1><b>질병 백과</b></h1>
            
            <nav>
                <form class="d-flex" method="get">
                    {% csrf_token %}
                    <input class="form-control me-2" type="text" placeholder="질병 검색" id="search_disease" name="q">
                    <button class="btn btn-outline-success" type="submit">확인</button>
                </form>
            </nav>

            <div>
                {% if results %}
                    <div><h5>{{results}}</h5></div>
                {% endif %}
            </div>

        </div>

        <div>
        </div>
    </body>
</html>