<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>병원 조회</title>
    </head>
    <body class="body">
        <div>
            <nav>
                <a href="http://127.0.0.1:8000/">Home</a>
            </nav>
            <h1><b>병원 조회</b></h1>
        </div>

        <div>
            <h3>병원 정보 출력 자리입니다.</h3>
            {% for i in info %}
            <h3>병원 이름</h3>
            {{i.기관명}} <br>

            <h3>병원 운영 시간 등등</h3>
            {% endfor %}
        </div>
    </body>
</html>