<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>병원 조회</title>
    </head>
    <body class="body">
        <div>
            <nav>
                <a href="http://127.0.0.1:8000/">Home</a>
            </nav>
            <h1><b>병원 조회</b></h1>
        </div>

        <div>
            <h3>병원 정보 출력 자리입니다.</h3>
            {% for hospital in page_obj  %}
            <h4>병원 이름</h4>
            <a href="../hospital_info/{{hospital.기관ID}}">{{hospital.기관명}}</a> <br>
            {% endfor %}
        </div>

        <span class="step-links">
            {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; 처음</a>
              <a href="?page={{ page_obj.previous_page_number }}">이전</a>
            {% endif %}
        
            <span class="current-page">
              페이지 {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>
        
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">다음</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">끝 &raquo;</a>
            {% endif %}
          </span>
        </div>
    </body>
</html>
