<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>질병 상세 정보</title>
    </head>
    <body class="body">
        <div>
            <nav>
                <a href="http://127.0.0.1:8000/">Home</a>
            </nav>
            <h1><b>질병 상세 정보</b></h1>
        </div>

        <div>
            <h3> 질병 상세 정보가 출력될 자리입니다.</h3>
            <br> 
            {% for r in detail %}
                <div>
                    <ol>{{ r.질병명 }}</ol>  <br>
                    증상키워드 : {{ r.증상키워드 }} <br>
                    관련질환 : {{ r.관련질환 }} <br>
                    진료과 : {{ r.진료과 }}<br>
                    
                    
                <hr/>

                    정의 : {{ r.정의 }}<br>
                    원인 : {{ r.원인 }}<br>
                    증상설명 : {{ r.증상설명 }} <br>
                    진단 : {{ r.진단 }} <br>
                    치료 : {{ r.치료 }} <br>

                </div>
            

        </div>

        <div>
            <nav>
                <a href="/search_hospital/{{ r.진료과 }}/">관련 병원 조회</a>
            </nav>
        </div>

        {% endfor %}
    </body>
</html>