<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>의심 질병 정보</title>
    </head>
    <body class="body">
        <div>
            <nav>
                <a href="http://127.0.0.1:8000/">Home</a>
            </nav>
            <h1><b>의심 질병 정보</b></h1>
        </div>

        <div>
            <h3>의심 질병 이름, 증상키워드,원인 등이 출력될 자리입니다.</h3>
        </div>

        <div>
            <nav>
                <a href="/search_hospital/">관련 병원 조회</a>
            </nav>
        </div>
    </body>
</html>