<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>증상 검색</title>
    </head>
    <body class="body">
        <div>
            <nav>
                <a href="http://127.0.0.1:8000/">Home</a>
            </nav>
            <h1><b>증상 검색</b></h1>
            <h2>사용자가 자신의 증상을 입력하면 예상 질병 목록을 출력합니다.</h2>
            <nav>
                <div>
                    <a href="/search_symptom/symptom1/">방법1</a>
                </div>
            </nav>
        </div>

        <div>
            <h2>사용자가 질문에 예/아니오 답을 통해서 예상 질병 목록을 출력합니다.</h2>
            <nav>
                <div>
                    <a href="/search_symptom/symptom2/">방법2</a>
                </div>
            </nav>
        </div>
    </body>
</html>