<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>증상 검색2</title>
    </head>
    <body class="body">
        <div>
            <nav>
                <a href="http://127.0.0.1:8000/">Home</a>
            </nav>
            <h1><b>증상 선택</b></h1>
            <h2>사용자가 질문에 예/아니오 답을 통해서 예상 질병 목록을 출력합니다.</h2>
        </div>

        <div class="col-1">
            <form type="get">
                <select class="select" name="dept" id="dept">
                    <option value="select" selected="selected">진료과를 선택하세요</option>
                    <option value="소화계">소화계</option>
                    <option value="내분비계">내분비계</option>
                    <option value="감각기능계">감각기능계</option>
                    <option value="근골격계">근골격계</option>
                    <option value="감염성">감염성</option>
                    <option value="호흡기계">호흡기계</option>
                    <option value="심혈관계">심혈관계</option>
                    <option value="피부질환">피부질환</option>
                    <option value="정신신경계">정신신경계</option>
                </select>
                    <input type="submit">
            </form>
        </div>
        <div>
            <h3>질문이 올 자리입니다.</h3>
            <h3>예/아니오가 올 자리입니다.</h3>
        </div>

        <!--
        <div>
            <nav>
                <a href="/search_symptom/symptom2/doubt_disease">의심 질병 결과</a>
            </nav>
        </div>
        -->
    </body>
</html>