<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>증상 검색2</title>
    </head>
    <body class="body">
        <div>
            <nav>
                <a href="http://127.0.0.1:8000/">Home</a>
            </nav>
            <h1><b>증상 선택</b></h1>
            <h2>사용자가 질문에 예/아니오 답을 통해서 예상 질병 목록을 출력합니다.</h2>
        </div>

        <div>
            <h3>질문이 올 자리입니다.</h3>
            <h3>예/아니오가 올 자리입니다.</h3>
        </div>

        <!--
        <div>
            <nav>
                <a href="/search_symptom/symptom2/doubt_disease">의심 질병 결과</a>
            </nav>
        </div>
        -->
    </body>
</html>